html,
body {
    box-sizing: border-box;
    height: 100%;
    color: #4e4e4e;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    /* font-family: "Josefin Sans", "Open Sans", sans-serif; */
}

body {
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    width: max-content;
    margin: 0;

    /* color: #001418;   */
    color: #4e4e4e;
    font-weight: 600;
    font-family: "Josefin Sans", "Open Sans", sans-serif;
}

p {
    color: #767676;
    font-size: 18px;
    line-height: 1.8;
}

[hidden] {
    display: none !important;
}

img {
    /* Don't make images wider than their container */
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}