.site-btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 140px;
    max-height: 51px;
    margin-right: 15px;
    padding: 15px 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;

    /* background-color: #000; */
    background-color: #36634d;
    border: none;
    border-radius: 8px;
}

.site-btn.btn-fade {
    /* background-color: #929292; */
    background-color: #767676;
}

.site-btn.btn-line {
    padding: 13px 10px;
    color: #000;
    background: none;
    border: 2px solid #000;
}

.site-btn.btn-line:hover {
    color: #000;
}

.site-btn.btn-line-fade {
    padding: 13px 10px;

    /* color: #929292; */
    color: #767676;
    background: none;

    /* border: 2px solid #929292; */
    border: 2px solid #767676;
}

.site-btn.btn-line-fade:hover {
    /* color: #929292; */
    color: #767676;
}

.site-btn:hover {
    color: #fff;
}

button:focus-visible {
    outline: 3px solid deepskyblue;
    outline-offset: 3px;
}