html,
body {
  box-sizing: border-box;
  height: 100%;
  color: #4e4e4e;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  width: max-content;
  margin: 0;
  /* color: #001418;   */
  color: #4e4e4e;
  font-weight: 600;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
}

p {
  color: #767676;
  font-size: 18px;
  line-height: 1.8;
}

[hidden] {
  display: none !important;
}

img {
  /* Don't make images wider than their container */
  max-width: 100%;
  width: auto;
  height: auto;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.site-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 140px;
  max-height: 51px;
  margin-right: 15px;
  padding: 15px 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  /* background-color: #000; */
  background-color: #36634d;
  border: none;
  border-radius: 8px;
}

.site-btn.btn-fade {
  /* background-color: #929292; */
  background-color: #767676;
}

.site-btn.btn-line {
  padding: 13px 10px;
  color: #000;
  background: none;
  border: 2px solid #000;
}

.site-btn.btn-line:hover {
  color: #000;
}

.site-btn.btn-line-fade {
  padding: 13px 10px;
  /* color: #929292; */
  color: #767676;
  background: none;
  /* border: 2px solid #929292; */
  border: 2px solid #767676;
}

.site-btn.btn-line-fade:hover {
  /* color: #929292; */
  color: #767676;
}

.site-btn:hover {
  color: #fff;
}

button:focus-visible {
  outline: 3px solid deepskyblue;
  outline-offset: 3px;
}

/* ===  Layout  === */
main {
  padding: 0 24px;
}

@media only screen and (width > 1200px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.portfolio-section {
  overflow: visible;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (width <= 767px) {
  .portfolio-section {
    grid-template-columns: 1fr;
  }
  .portfolio-item {
    aspect-ratio: 1/1;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /*max-height: 600px;*/
    /*max-width: 600px;*/
    background-position: center center;
    /*background-size: 110%;*/
  }
  .portfolio-item,
  .portfolio-item-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
  }
  .portfolio-filter {
    text-align: center;
  }
}
.portfolio-filter {
  padding-bottom: 100px;
  list-style: none;
}
.portfolio-filter li {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  /* color: #929292; */
  color: #767676;
  font-size: 16px;
  cursor: pointer;
}
.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.gallery-block {
  position: relative;
}

.portfolios-area .gallery-block {
  padding: 0;
}

.portfolio-item {
  aspect-ratio: 1/1;
  position: relative;
  display: block;
  background-position: center center;
}

.portfolio-item-link:focus-visible {
  outline-offset: 3px;
  outline: rgb(0, 191, 255) solid 3px;
}

.modal-trigger,
.portfolio-item-link {
  display: block;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  width: 100%;
  height: 100%;
  box-shadow: 4px 2px 6px 4px rgba(113, 113, 113, 0.2);
}
.modal-trigger picture,
.portfolio-item-link picture {
  display: flex;
  justify-content: center;
}
.modal-trigger img,
.portfolio-item-link img {
  /*width: 100%;*/
  /*height: 100%;*/
  object-fit: contain;
  border-radius: 8px;
  /*aspect-ratio: 1 / 1;*/
}

.portfolio-item .pi-inner,
.portfolio-item-link .pi-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: all 0.4s ease 0s;
}
.portfolio-item .pi-inner h2,
.portfolio-item-link .pi-inner h2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner,
.portfolio-item-link:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2,
.portfolio-item-link:hover .pi-inner h2 {
  letter-spacing: 0;
  opacity: 1;
}

.pi-inner img {
  border-radius: 0;
  filter: invert(100%) sepia(0%) saturate(7453%) hue-rotate(45deg) brightness(119%) contrast(100%);
}

.portfolio-meta {
  padding-bottom: 45px;
}
.portfolio-meta h2 {
  font-size: 24px;
}
.portfolio-meta p {
  margin-bottom: 0;
  color: #a6a6a6;
  font-size: 14px;
}

.portfolio-intro {
  display: block;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.rotating-text .rotating {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  font-weight: bold;
}
.rotating-text .rotating .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.rotating-text .rotating .word .letter {
  transform-origin: center center 25px;
}
.rotating-text .rotating .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text .rotating .word .letter.in {
  transition: 0.38s ease;
}
.rotating-text .rotating .word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: #e74c3c;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #25A75D;
}

.green-sea {
  color: #16a085;
}

.sun-flower {
  color: #AF920E;
}

/* .section-title #whoAmI { */
/*  !* color: #929292; *! */
/*  !* color: #71b997; *! */
/*  color: #64a184; */
/* } */
.rotating-words {
  text-align: start;
}
.rotating-words .rotating + span {
  display: flex;
  margin-top: 1.1rem;
}

.section-title {
  font-size: 28px;
  font-size: calc(100% + 2vw);
  line-height: 1.5;
}

.section-subtitle {
  font-size: 28px;
  font-size: calc(100% + 1.75vw);
  margin-top: 1.5rem;
}

.intro-section {
  padding: 30px 0 60px;
  /* grid-area: intro; */
}

video.img-center {
  /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
  display: block;
  margin: 0 auto;
  text-align: center;
}

.circle-progress {
  position: relative;
  text-align: center;
}

.circle-progress canvas {
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  position: absolute;
  top: 30%;
  width: 100%;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
}

.circle-progress .progress-info p {
  /* color: #929292; */
  color: #767676;
  font-size: 16px;
  line-height: normal;
}

.img-popup-warp .mfp-content {
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  transform: scale(1);
  opacity: 1;
}

.pt100 {
  padding-top: 100px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-center {
  text-align: center;
  width: 100%;
}

.text-uppercase {
  text-transform: uppercase;
}

.img-center {
  display: block;
  margin: auto;
}

/*# sourceMappingURL=home.css.map */
