/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix:after {
	  content:" ";
	  display:table;
	  clear:both;
  }
/*.clearfix:after {*/
	/*visibility: hidden;*/
	/*display: block;*/
	/*font-size: 0;*/
	/*content: " ";*/
	/*clear: both;*/
	/*height: 0;*/
/*}*/
/** html .clearfix             { zoom: 1; } !* IE6 *!*/
/**:first-child+html .clearfix { zoom: 1; } !* IE7 *!*/

body {
	/*	padding-top: 70px;*/
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	/*			padding-top: 50px;*/
	padding-bottom: 20px;
	/*background-color: rgba(226,240,223,0.15);*/
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.navbar-header h1 {
	margin: 24px 0 24px 105px;
	font-size: 24px;
}

.navbar-brand>img {
	width: 75px;
}

@media (min-width: 768px) {
	.navbar-header h1 {
		margin: 40px 0 auto 152px;
		font-size: 36px;
	}
	.navbar-brand>img {
		width: 128px;
	}
}
@media (min-width: 768px) {

	.navbar-nav {
		float: right;
		margin: auto 0;
	}
	nav.navbar.navbar-default.navbar-static-top,
	nav.navbar.navbar-default.navbar-static-top .container {
		height: 110px;
		position: relative;
		margin-bottom: 0;

	}

	nav.navbar.navbar-default.navbar-static-top .navbar-nav,
	nav.navbar.navbar-header h1 {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		/*	float: right;*/
		right: 0;
	}

}

.filter label {
	margin-right: 18px;
}
h1, h2, h3, h4, h5, h6 {
	color: #3c763d;
}
p {
	font-size: 16px;
}

.navbar-default .navbar-nav>li>a {
	/*color: #3c763d;*/
	color: #36634e;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #5baf89;
}

.lightbox .lb-image {
	/*display: block;*/
	height: auto !important;
	/*height: auto;*/
	min-width: 600px;
}

.contact_details ul {
	list-style-type: none;
	padding-left: 0;
}

.contact_details i {
	padding-right: .5em;
	color: #5baf89;
}



.experience h4 small {
	display: block;
}
footer p {
	color: #808080;
}