html,
body {
  box-sizing: border-box;
  height: 100%;
  color: #4e4e4e;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  /*font-family: "Josefin Sans", "Open Sans", sans-serif;*/
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  /* color: #001418;   */
  color: #4e4e4e;
  font-weight: 600;
  font-family: "Josefin Sans", "Open Sans", sans-serif;
}

p {
  color: #767676;
  font-size: 18px;
  line-height: 1.8;
}


.container p a {
  text-decoration: underline;
}

img {
  /* Don't make images wider than their container */
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* ------------------------
  Helper css
-------------------------- */

.body-pad {
  padding: 0 40px;
}

.spad {
  padding: 100px 0;
}

.pt100 {
  padding-top: 100px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title {
  font-size: 60px;
}

.section-title #whoAmI {
  /* color: #929292; */
  /*color: #71b997;*/
  color: #64a184;
}

/* ------------------------
  Common Elements
-------------------------- */
.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/* === Preloader === */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #fff;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -13px;
  margin-left: -13px;
  border: 3px solid #000;
  border-left-color: transparent;
  border-radius: 60px;
  -webkit-animation: loader 0.8s linear infinite;
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* === Buttons === */
.site-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 140px;
  max-height: 51px;
  margin-right: 15px;
  padding: 15px 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;

  /* background-color: #000; */
  background-color: #36634d;
  border: none;
}

.site-btn.btn-fade {
  /*background-color: #929292;*/
  background-color: #767676;
}

.site-btn.btn-line {
  padding: 13px 10px;
  color: #000;
  background: none;
  border: 2px solid #000;
}

.site-btn.btn-line:hover {
  color: #000;
}

.site-btn.btn-line-fade {
  padding: 13px 10px;
  /*color: #929292;*/
  color: #767676;
  background: none;
  /*border: 2px solid #929292;*/
  border: 2px solid #767676;
}

.site-btn.btn-line-fade:hover {
  /*color: #929292;*/
  color: #767676;
}

.site-btn:hover {
  color: #fff;
}

/* ===  Accordion  === */
.accordion-area .panel {
  margin-bottom: 30px;
}

.accordion-area .panel-header {
  position: relative;
  display: block;
  padding: 12px 50px 12px 30px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  background: #000;
  border: 2px solid #000;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-header.active {
  color: #000;
  background: transparent;
}

.accordion-area .panel-link::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  content: "+";
}

.accordion-area .panel-header.active .panel-link::after {
  content: "-";
  color: #000;
}

.accordion-area .panel-header.active .panel-link.collapsed::after {
  content: "+";
}

.accordion-area .panel-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.accordion-area .panel-body p {
  margin-bottom: 0;
  padding-top: 25px;
  font-size: 14px;
}

.accordion-area .panel-body {
  padding: 0 5px;
}

/* ===  Tab  === */
.tab-element .nav-tabs {
  margin-bottom: 35px;
  border-bottom: none;
}

.tab-element .nav-tabs .nav-link {
  min-width: 118px;
  margin-right: 10px;
  margin-bottom: 10px;

  /* color: #222; */
  padding: 15px 40px;
  color: #fff;

  /* font-size: 14px; */
  font-weight: 500;
  font-size: 16px;
  background: #000;
  border: 2px solid #000;
  border-radius: 0;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
  margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
  color: #000;
  background: transparent;
}

.tab-element .tab-pane h4 {
  margin: 25px 0 20px;
  font-size: 18px;
}

.tab-element .tab-pane p {
  font-size: 14px;
}

.circle-progress {
  position: relative;
  text-align: center;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  position: absolute;
  top: 30%;
  width: 100%;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
}

.circle-progress .progress-info p {
  /*color: #929292;*/
  color: #767676;
  font-size: 16px;
  line-height: normal;
}

/* ===  Icon Box  === */
.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-box .icon h2 {
  font-size: 60px;
}

.icon-box .icon-box-content {
  padding-top: 10px;
  padding-left: 25px;
}

.icon-box .icon-box-content h3 {
  margin-bottom: 25px;
  font-size: 24px;
}

/* ------------------------
    Header Section
-------------------------- */
.header-section {
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
}

.site-logo {
  padding-top: 20px;
  font-size: 24px;
}

.main-menu ul {
  list-style: none;
}

.main-menu ul li {
  display: inline;
}

.main-menu ul li a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 15px;
  padding: 20px 0 5px;
  color: #001418;
  font-size: 18px;
}

.main-menu ul li a:hover,
.main-menu ul li a.active {
  font-weight: bold;
}

.header-btn {
  float: right;

  /* margin-right: 0; */
  margin: 5px 0;
}

.nav-switch {
  display: none;
}

.intro-section {
  /* padding: 110px 0; */
  padding: 30px 0 60px 0;
}

/* .intro-section.slides  { */

/* padding: 90px 0 60px 0; */

/* } */

/* ------------------------
    Portfolio Section
-------------------------- */
.portfolio-section {
  overflow: hidden;
}

.portfolio-filter {
  padding-bottom: 100px;
  list-style: none;
}

/* stylelint-disable */
.portfolio-filter li {
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 10px;
  /*color: #929292;*/
  color: #767676;
  font-size: 16px;
  cursor: pointer;
}

/* stylelint-enable */

.portfolio-filter li.mixitup-control-active {
  color: #001418;
}

.portfolios-area .gallery-block {
  padding: 0;
}

/* stylelint-disable */
.gallery-block {
  position: relative;
}

/* stylelint-enable */

.portfolio-item,
.portfolio-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
  background-position: center center;
}

.portfolio-item .pi-inner,
.portfolio-item-link .pi-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2,
.portfolio-item-link .pi-inner h2 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner,
.portfolio-item-link:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2,
.portfolio-item-link:hover .pi-inner h2 {
  letter-spacing: 0;
  opacity: 1;
}

.portfolio-meta {
  padding-bottom: 45px;
}

/* stylelint-disable */
.portfolio-meta h2 {
  font-size: 24px;
}

/* stylelint-enable */

/* stylelint-disable */
.portfolio-meta p {
  margin-bottom: 0;
  color: #a6a6a6;
  font-size: 14px;
}

/* stylelint-enable */

.portfolio-intro {
  display: block;
}

.img-popup-warp .mfp-content {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

/* ------------------------
    Footer Section
-------------------------- */
.footer-section {
  padding: 110px 0;
}

.footer-section .copyright {
  color: #767676;
  font-size: 12px;
}

.social-links {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* stylelint-disable */
.social-links a {
  margin-right: 30px;
  /*color: #929292;*/
  color: #767676;
  font-size: 15px;
}

/* stylelint-enable */

/* stylelint-disable */
.social-links a:last-child {
  margin-right: 0;
}

/* stylelint-enable */

/* ------------------------
    About Page
-------------------------- */
.pic-frame {
  position: relative;
  display: inline-block;
  padding-bottom: 25px;
  padding-left: 25px;
}

.pic-frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border: 2px solid #000;
  content: "";
}

.milestone {
  margin-top: 15px;
}

/* stylelint-disable */
.milestone h2 {
  font-size: 60px;
}

/* stylelint-enable */

.milestone h2 span {
  display: block;
  width: 100%;
  text-align: center;
}

.milestone h2 span.title {
  /*color: #929292;*/
  color: #767676;
  font-size: 18px;
}

/* ------------------------
    Blog Page
-------------------------- */
.blog-item {
  margin-bottom: 70px;
}

.blog-item .read-more {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: #000;
  font-size: 18px;
  line-height: 18px;
}

.blog-item .read-more::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
}

.thumb {
  margin-bottom: 30px;
}

/* stylelint-disable */
.blog-content h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

/* stylelint-enable */

.blog-content .blog-meta {
  margin-bottom: 30px;
  /*color: #929292;*/
  color: #767676;
  font-size: 13px;
}

/* stylelint-disable */
.blog-content p {
  margin-bottom: 30px;
}

/* stylelint-enable */

/* ------------------------
    Contact Page
-------------------------- */
.contact-text {
  margin-bottom: 70px;
  text-align: center;
}

/* stylelint-disable */
.contact-text h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

/* stylelint-enable */

/* stylelint-disable */
.contact-text p {
  font-size: 17px;
}

/* stylelint-enable */

.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 12px;
  border: none;
  border-bottom: 2px solid #000;
}

.contact-form textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 12px;
  border: none;
  border-bottom: 2px solid #000;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::placeholder {
  font-style: italic;
}

/* ===========================
  Responsive
============================== */
@media only screen and (max-width: 1448px) {
  .work.container {
    width: auto;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .portfolio-item,
  .portfolio-item-link {
    height: 450px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .body-pad {
    padding: 0 30px;
  }

  .portfolio-item,
  .portfolio-item-link {
    height: 350px;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .body-pad {
    padding: 0 15px;
  }

  .main-menu {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 999;
    display: none;
    width: 100%;
    padding-top: 15px;
    background: #efefef;
  }

  .main-menu ul li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }

  .main-menu ul li a.active {
    font-weight: bold;
    text-decoration: underline;
  }

  .main-menu ul li {
    display: block;
  }

  .main-menu ul li:last-child a {
    border-bottom: none;
  }

  .work {
    text-align: left;
  }

  .work .main-menu {
    top: 99px;
  }

  .nav-switch {
    position: absolute;
    top: 35px;
    right: 25px;
    display: block;
    color: #333;
    font-size: 30px;
  }

  .header-btn {
    display: none;
  }

  .section-title {
    font-size: 45px;
  }

  .portfolio-filter {
    text-align: center;
  }

  .header-section {
    position: relative;
    padding-top: 1em;
    padding-bottom: 0.8em;
  }

  .logo img {
    max-width: 25%;
  }

  .portfolio-item,
  .portfolio-item-link {
    position: relative;
    display: block;
    width: 100%;
    max-height: 330px;
    margin-bottom: 30px;
    background-position: center center;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .section-title {
    font-size: 30px;
  }
}

.logo img {
  width: 100px;
}

.img-center {
  display: block;
  margin: auto;
}

video.img-center {
  /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
  display: block;
  margin: 0 auto;
  text-align: center;
}
