<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">About
                    <!--<small>Secondary Text</small>-->
                </h1>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-8 ">
		<h2 class="">Klarence OuYang <small>is a user experience professional who has dabbled in the web for nearly a decade. He specializes in front-end development (emphasis on mobile/responsive web design), interaction design, information architecture, and usability.</small>  </h2>
		<!--<h3><small>Clarence with a "K", "Oh "Yang"</small></h3>-->
		<!--<p>I’m a Front-end Web Developer currently freelancing in San Jose, CA. I am technically proficient in HTML, CSS and implementing Javascript. Even though I get paid to develop websites, I also dabble in Graphic Design, Typography, Photography, Videography, and Animation. I love to stay on top of the latest technologies and immerse myself with everything the web has to offer.</p>-->

		<p>Jack of all trades, and Master of One. I am a voracious learner when it comes to web development; my predominant passion, however, is intuitive design. “Form, Follows, Function” is my favorite design principle. While I do believe in creating beautiful aesthetic designs, I believe that every design element must have a purpose—it must contribute to the whole.  When designing, I work methodically with an emphasis on creating pixel perfect work.</p><p>

		I enjoying assisting my colleagues in overcoming their technical and sometimes very perplexing challenges. Discovering how technical and design elements mesh and achieve streamlined improvements as technology advances intrigues me. I use all information and learning to hone the development of my professional and personal discipline.
	</p><p>
		Throughout my life I have enjoyed assisting family and friends with their technical challenges and I now enjoy assisting business colleagues and the business community address their technical and related business issues.I have assisted others in developing functional and effective websites allowing them to reach a larger audience with more clarity and well structured messages.  In conjunction with my peers at SJSU we implemented a Customer Relationship Management System for a local charity which allowed the charity to manage their database of donors much more effectively.
	</p><p>
		I have worked with Project Managers at CISCO to coordinate the necessary changes (updates and code fixes) to the applications used by the company’s sales force.
	</p><p>
		I am currently involved with exploring Usability and its relationship to design. I am currently the User Experience (UX) lead in charge of coordinating an effective design for the Cisco's partner tools (Web Applications).
	</p>

		<!--<p>If you have similar interests, or would like to borrow my thoughts, contact me @ mail(at)klarence.net.</p>-->
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 experience">
		<h2 class="">Experience</h2>
		<hr>
		<h4>UX Analyst/FE Developer <small>Cisco Systems</small></h4>
		<h4>Web Developer <small>San Jose State University</small></h4>
		<h4>Freelance Designer/Developer <small>KOYdesigns</small></h4>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4">
		<h2 class="">Contact Details</h2>
		<hr>
		<div class="contact_details">
<ul>
<!-- <li class="phone" tel="+18588762184">858 876–2184</li> -->
<li class="mailto">
	<a href="mailto:mail@klarence.net?Subject=Reaching%20out%20from%20your%20website"><i class="fa fa-envelope"></i>mail@klarence.net</a></li>
<li class="skype"><a href="skype:klarence.ouyang?call" target="_blank"><i class="fa fa-skype"></i>klarence.ouyang</a></li>
<!-- <li class="twitter"><a href="http://www.twitter.com/klarenceouyang" target="_blank">/klarenceouyang</a></li> -->
<!-- <li class="facebook"><a href="http://www.facebook.com/klarence.ouyang" target="_blank">/klarenceouyang</a></li> -->
<li class="linkedin"><a href="https://www.linkedin.com/in/klarence" target="_blank"><i class="fa fa-linkedin"></i>/in/klarence</a></li>
<!-- <li class="blog"><a href="http://www.koydesigns.com/blog" target="_blank">koydesigns.com/blog</a></li> -->

</ul>
</div>
	</div>
</div>
<!-- /.row -->
