<!-- Page Header -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Portfolio
                    <!--<small>Secondary Text</small>-->
                </h1>
	</div>
</div>
<!-- /.row -->

<div data-ng-controller="PortfolioCtrl as ctrl">
		<div class="filter">
			<h5>Filter By</h5>
				<!--<label>-->
					<!--<input type="checkbox" />-->
					<!--All-->
				<!--</label>-->
			<div class="filter">
				<label data-ng-repeat="category in ctrl.getCategories()">
					<input type="checkbox" data-ng-model="ctrl.filter[category]" />
					{{ category }}
				</label>
			</div>
		</div>
		<!--<hr />-->
		<!--<h3>Available Items</h3>-->
		<div data-ng-repeat="item in (ctrl.items | filter:ctrl.filterByCategory) as filteredItems">
			<div class="clearfix" data-ng-if="$index % 3 == 0"></div>
			<div class="col-lg-4 col-md-4 col-sm-6 portfolio-item"><h4>{{ item.name }} <small>({{ item.category }})</small></h4>
				<a href="{{ item.location }}.jpg" data-lightbox="{{ item.name }}" data-title="{{ item.desc }}">
					<img class="example-image" src="{{ item.location }}_thumb.jpg" alt="{{ item.desc }}" title="" style="">
				</a>
			</div>
			<!--<a href="images/image-1.jpg" data-lightbox="image-1" data-title="My caption">Image #1</a>-->
			<!--<a href="{{ item.url }}">-->
				<!--<img class="img-responsive" src="{{ item.location }}" alt="{{ item.alt-text }}">-->
			<!--</a>-->
			<!--<h3>-->
                    <!--<a href="{{ item.url }}">{{ item.name }}</a>-->
                <!--</h3>-->
			<!--<p>{{ item.desc }}</p>-->
		</div>
	<!--<div class="row">-->
		<!--<div class="col-lg-12">-->
			<!--&lt;!&ndash;<hr />&ndash;&gt;-->
			<!--<b>Number of results: {{ filteredItems.length }}</b>-->
		<!--</div>-->
	<!--</div>-->

</div>