.DS_Store
/.idea/
/.idea/workspace.xml
/.recognizer/
/.vscode/
/node_modules/
/elements.html
*.xml
builds/
dist/
sites/thushy/about_files/
sites/thushy/css/font.css
sites/thushy/css/styles.backup.css
sites/thushy/family_files/
sites/thushy/fonts/
sites/thushy/ilove_files/
sites/thushy/images/AjaxLoader.gif
sites/thushy/images/bride.jpg
sites/thushy/images/bride_old.jpg
sites/thushy/images/bridesmaids-1.jpg
sites/thushy/images/bridesmaids-2.jpg
sites/thushy/images/bridesmaids-3.jpg
sites/thushy/images/bridesmaids-4.jpg
sites/thushy/images/carousel-1.jpg
sites/thushy/images/carousel-2.jpg
sites/thushy/images/carousel-3.jpg
sites/thushy/images/couple-standing.jpg
sites/thushy/images/couple.jpg
sites/thushy/images/couple/bahamas_beach_sailboat_crop.jpg
sites/thushy/images/couple/prpv.jpeg
sites/thushy/images/family/15129086_10207685966256351_1476951918210401374_o.jpg
sites/thushy/images/family/31945463_10211537200054789_3792707777386774528_o.jpg
sites/thushy/images/family/mathu copy.jpg
sites/thushy/images/family/rosy.jpeg
sites/thushy/images/family/sarah_profile.jpg
sites/thushy/images/g1.jpg
sites/thushy/images/g2.jpg
sites/thushy/images/g3.jpg
sites/thushy/images/g4.jpg
sites/thushy/images/g5.jpg
sites/thushy/images/g6.jpg
sites/thushy/images/g7.jpg
sites/thushy/images/g8.jpg
sites/thushy/images/gift-1.png
sites/thushy/images/gift-2.png
sites/thushy/images/gift-3.png
sites/thushy/images/google_white5_hdpi.png
sites/thushy/images/grabbing.png
sites/thushy/images/groom.jpg
sites/thushy/images/groom_old.jpg
sites/thushy/images/groomsmen-1.jpg
sites/thushy/images/groomsmen-2.jpg
sites/thushy/images/groomsmen-3.jpg
sites/thushy/images/groomsmen-4.jpg
sites/thushy/images/loader.gif
sites/thushy/images/marker.png
sites/thushy/images/parallax-common-bg.jpg
sites/thushy/images/parallax-favourites-bg.jpg
sites/thushy/images/paris2/thushy_and_klarence_1.jpg
sites/thushy/images/paris2/thushy_and_klarence_10.jpg
sites/thushy/images/paris2/thushy_and_klarence_11.jpg
sites/thushy/images/paris2/thushy_and_klarence_12.jpg
sites/thushy/images/paris2/thushy_and_klarence_13.jpg
sites/thushy/images/paris2/thushy_and_klarence_14.jpg
sites/thushy/images/paris2/thushy_and_klarence_15.jpg
sites/thushy/images/paris2/thushy_and_klarence_16.jpg
sites/thushy/images/paris2/thushy_and_klarence_17.jpg
sites/thushy/images/paris2/thushy_and_klarence_18.jpg
sites/thushy/images/paris2/thushy_and_klarence_19.jpg
sites/thushy/images/paris2/thushy_and_klarence_2.jpg
sites/thushy/images/paris2/thushy_and_klarence_20.jpg
sites/thushy/images/paris2/thushy_and_klarence_3.jpg
sites/thushy/images/paris2/thushy_and_klarence_4.jpg
sites/thushy/images/paris2/thushy_and_klarence_5.jpg
sites/thushy/images/paris2/thushy_and_klarence_6.jpg
sites/thushy/images/paris2/thushy_and_klarence_7.jpg
sites/thushy/images/paris2/thushy_and_klarence_8.jpg
sites/thushy/images/paris2/thushy_and_klarence_9.jpg
sites/thushy/images/portfolio/
sites/thushy/images/venue-1.jpg
sites/thushy/images/venue-2.jpg
sites/thushy/images/vidbg_old.jpg
sites/thushy/images/wedding-1.jpg
sites/thushy/video/
sites/zia/
*.xml
.idea/klarence.github.io.iml
.idea/misc.xml
.idea/workspace.xml
*.xml
