@font-face {
    font-family: "Madina";
    src: url("../../../../assets/fonts/Madina.otf") format("opentype")
}

@font-face {
    font-family: "Love";
    src: url("../../../../assets/fonts/Love.ttf") format("truetype")
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 60px;
    font-family: 'Helvetica', sans-serif;
}

article {
    margin-bottom: 90px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

footer p {
    margin: 20px 0;
}

footer > .container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    height: 100%;
}

footer .row {
    height: 100%;
}

/* -- -- */
h2 {
    display: inline-block;
    font-size: 32px;
    line-height: 36px;
    position: relative;
    margin-top: 28px;
    margin-bottom: 15px;
}

h2:before {
    left: -40px;
    height: 1px;
}

h2.separators:before,
h2.separators:after {
    content: "";
    position: absolute;
    bottom: 18px;
    height: 1px;
    width: 40px;
    margin: 0 -15px;
    /*background-color: #1f4421;*/
    background-color: #fff;
}

h2:after {
    right: -40px;
}

h4, h5 {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 4px;
    font-weight: bold;
}

h1 {
    font-family: Madina, 'Clicker Script', cursive;
    font-size: 48px;
    text-align: center;
    /*line-height: 18px;*/
    color: #1f4421;
    /*margin-bottom: 0;*/
}

h1 .subheader {
    font-family: Love, 'Clicker Script', cursive;
    font-size: 38px;
}

h2 {
    font-family: Love, 'Clicker Script', cursive;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

ol, ul {
    margin-block-start: 0.25rem;
    padding-inline-start: 1.75rem;
}

img {
    max-height: 240px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    object-position: right top;
}

.item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.item h3, .item p {
    display: block;
    clear: both;
    color: #533834;
}

i.fa-pepper-hot,
.spicy {
    color: #ec4e00;
    border-color: #ec4e00;
}

.item span:nth-of-type(2n) {
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    right: 0;
    padding-left: 8px;
    background-color: transparent;
    z-index: 0;
    top: 12px;
}

.item h3 {
    display: inline-block;
    padding-right: 8px;
    font-size: 1.25rem;
    max-width: 69%;
    margin-bottom: 4px;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .item h3 {
        max-width: 80%;
        margin-bottom: 16px;
    }

    .item span.dots:first-of-type {
        background-image: linear-gradient(to right, rgba(56, 47, 47, .5) 33%, rgba(0, 0, 0, 0) 0%);
        background-position: bottom;
        background-size: 3px 1px;
        background-repeat: repeat-x;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 38px;
    }

    .item span:nth-of-type(2n) {
        background-color: #fff;
    }

    .row.description {
        justify-content: center;
    }

}

.description {
    clear: both;
    color: #533834;
    padding-left: 5px;
}

.toppings {
    padding-bottom: 16px;
}

.dish-image img {
    width: 100%;
    max-width: 100%;
}

.dish-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.made-by {
    text-align: right;
    margin: auto 0;
    padding: 6px 8px;
}

.text-center {
    text-align: center;
}

.fa-stack.fa-xs {
    font-size: 0.65em;
    bottom: -3px;
}

.allergen {
    color: #e1515e;
}

i.peanut {
    content: url(../../../good2eat/images/peanut.svg);
    position: relative;
    width: 15px;
    margin: 4px auto;
    filter: invert(39%) sepia(69%) saturate(4109%) hue-rotate(332deg) brightness(86%) contrast(100%);
    vertical-align: middle;
}

i.soybean {
    content: url(../../../good2eat/images/soybean.png);
    position: relative;
    width: 14px;
    margin: 4px auto;
    filter: invert(39%) sepia(69%) saturate(4109%) hue-rotate(332deg) brightness(86%) contrast(100%);
    vertical-align: middle;
}

i.sesame {
    content: url(../../../good2eat/images/sesame.png);
    position: relative;
    /* width: 16px;
    margin: 5px auto; */
    width: 14px;
    margin: 4px auto;
    filter: invert(39%) sepia(69%) saturate(4109%) hue-rotate(332deg) brightness(86%) contrast(100%);
    vertical-align: middle;
}

.tooltip-inner {
    background-color: #fff;
    padding: 1px 2px;
}

.header-icons i.sesame,
.header-icons i.soybean,
.header-icons i.peanut {
    width: 22px;
}

header.menu-section {
    background-color: #1f4421;
    color: #fff;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top:  36px;
}
